@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --white: #fff;
    --main:#39AC91;
    --text: #5E5E5E;
    --font-fam:'Poppins', sans-serif;
    --shadow: 2px 2px 4px #5E5E5E;
}

*, *::after, *::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html  {
	background: rgb(180, 207, 209); 
    font-family: var(--font-fam);
	margin: 0;
    background-image: repeating-linear-gradient(135deg, rgba(79, 79, 79,0.01) 0px, rgba(79, 79, 79,0.01) 14px,rgba(94, 94, 94,0.01) 14px, rgba(94, 94, 94,0.01) 28px,rgba(109, 109, 109,0.01) 28px, rgba(109, 109, 109,0.01) 42px,rgba(124, 124, 124,0.01) 42px, rgba(124, 124, 124,0.01) 56px,rgba(139, 139, 139,0.01) 56px, rgba(139, 139, 139,0.01) 70px,rgba(154, 154, 154,0.01) 70px, rgba(154, 154, 154,0.01) 84px,rgba(169, 169, 169,0.01) 84px, rgba(169, 169, 169,0.01) 98px,rgba(184, 184, 184,0.01) 98px, rgba(184, 184, 184,0.01) 112px),repeating-linear-gradient(45deg, rgba(221, 221, 221,0.01) 0px, rgba(221, 221, 221,0.01) 14px,rgba(207, 207, 207,0.01) 14px, rgba(207, 207, 207,0.01) 28px,rgba(192, 192, 192,0.01) 28px, rgba(192, 192, 192,0.01) 42px,rgba(178, 178, 178,0.01) 42px, rgba(178, 178, 178,0.01) 56px,rgba(164, 164, 164,0.01) 56px, rgba(164, 164, 164,0.01) 70px,rgba(150, 150, 150,0.01) 70px, rgba(150, 150, 150,0.01) 84px,rgba(135, 135, 135,0.01) 84px, rgba(135, 135, 135,0.01) 98px,rgba(121, 121, 121,0.01) 98px, rgba(121, 121, 121,0.01) 112px),linear-gradient(90deg, #ffffff,#ffffff);
    background-attachment: fixed;
} 

/* header */

.header{
    width: 100%;
    height: 70px;
    background: var(--white);
}

.hero{
    width: 100%;
    height: 40;
    background: linear-gradient(270deg, rgba(56, 56, 56, 0.6), rgba(56, 56, 56, 0.6)) url(/images/hero.png);;
}

.hero h2, h4{
    color: var(--white);
}

/* buttons */
.btn{
    padding: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.primary-btn {
    color: var(--white);
    background: var(--main);
}
.secondary-btn {
    color: var(--main);
    background: var(--white);
}
.tertiary-btn {
    color: var(--white);
    background: var(--opaque);
    border: 2px solid var(--white);
}

/* footer */

.footer{
    width: 100%;
    height: 100%;
    background: var(--main);
}

