.link {
	color: rgb(92, 133, 160);
}

.link:hover {
	text-decoration: underline;
}

.container {
	text-align: center;
	width: 70%;
	display: flex;
	flex-direction: column;
	z-index: -69;
	padding: 15px;
	margin: 0 auto;
}

.tags li{
    font-size: .8em;
    margin: 2px;
    padding: 2px 5px;
    color: var(--white);
    background: var(--main);
	width: fit-content;
	display: inline-block;
}