/* main area */

.charities {
    max-width: 900px;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: center;
}

/* cards */

.charities > li {
    width: 250px;
    height: 350px;
    padding: 10px 20px;
    margin: 10px;
    background: var(--white);
    box-shadow: var(--shadow);  
    position: relative; 
    cursor: context-menu;
}

.charities a{
    margin: 0;
}

/* card content */

.charities ul{
    margin: 0;
    margin-left: -2px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10px;
}

.charities h3{
    font-size: 1.2em;
    margin: 5px 0;
    color: var(--main);
}

.charities p{
    margin-bottom: 20px;
}

.tags li{
    font-size: .8em;
    margin: 2px;
    padding: 2px 5px;
    color: var(--white);
    background: var(--main);
}

/*btn*/

.btn {
	color: var(--white);
    background: var(--main);
    border: 2px solid var(--main);
	padding: 3px 15px;
	transition: 200ms;
	border-radius: 2px;
	cursor: pointer;
}

.btn:hover {
	background: var(--maindark);
	transition: 200ms;
}

/* why */

.why{
    widows: 70%;
    width: 75%;
    margin: 50px auto;
    text-align: center;
}

.why h3{
    margin-bottom: 20px;
}

.footer{
    position: relative;
    bottom: 0;
}