/* main area */

.charities {
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

/* cards */

.charities > li {
    width: 250px;
    padding: 10px 20px;
    margin: 10px;
    background: var(--white);
    box-shadow: var(--shadow);   
}

/* card content */

.charities ul{
    margin: 0;
    margin-left: -2px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.charities h3{
    font-size: 1.2em;
    margin: 5px 0;
    color: var(--main);
}

.tags li{
    font-size: .8em;
    margin: 2px;
    padding: 2px 5px;
    color: var(--white);
    background: var(--main);
}

.footer{
    position: relative;
    bottom: 0;
}

/*btn*/

.btn {
	color: var(--white);
  background: var(--main);
  border: 2px solid var(--main);
	padding: 3px 15px;
	transition: 200ms;
	border-radius: 2px;
	cursor: pointer;
}

.btn:hover {
	background: var(--maindark);
	transition: 200ms;
}