@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --white: #fff;
    --main:#3dc2a3;
    --maindark: #369b83;
    --text: #5E5E5E;
    --opaque: #e4e4e444;
    --shadow-color: #0000003d;
    --shadow: 2px 0px 4px #0000003d;
    --font-fam:'Poppins', sans-serif;
}

*, *::after, *::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

h1#title {
    color: black;
}

body, html  {
    min-height: 70vh;
    color: var(--text);
	background: var(--white); 
    font-family: var(--font-fam);
    background-image: repeating-linear-gradient(135deg, #f0f0f005 0px, #f0f0f005 21px,#e0e0e005 21px, #e0e0e005 42px,#d0d0d005 42px, #d0d0d005 63px,#c0c0c005 63px, #c0c0c005 84px,#afafaf05 84px, #afafaf05 105px,#9f9f9f05 105px, #9f9f9f05 126px,#8f8f8f05 126px, #8f8f8f05 147px,#7f7f7f05 147px, #7f7f7f05 168px),repeating-linear-gradient(45deg, #e8e8e805 0px, #e8e8e805 21px,#d1d1d105 21px, #d1d1d105 42px,#b9b9b905 42px, #b9b9b905 63px,#a2a2a205 63px, #a2a2a205 84px,#8a8a8a05 84px, #8a8a8a05 105px,#72727205 105px, #73737305 126px,#5b5b5b05 126px, #5b5b5b05 147px,#44444405 147px, #44444405 168px),linear-gradient(90deg, #ffffff,#ffffff);
    overflow-x: hidden;
	scroll-behavior: smooth;
} 

/* header */

.header{
    width: 100%;
    height: 70px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav .btn{
    padding: 3px 15px;
    border-radius: 20px;
}

/* search-bar */

.search-bar{
    border-radius: 20px;
    padding: 5px 10px;   
    box-shadow: var(--shadow);
    margin: 0 10px;
}

.search-bar input{
    border: none;
}

.fas:hover {
	transform: scale(1.08);
	cursor: pointer;
}

.search-bar  input:focus{
    outline: transparent;
}

/* hero */

.hero{
    width: 100%;
    height: 500px;
    background: linear-gradient(270deg, #369b8360, #38383899), url(/images/hero.jpg);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-y: center;
    background-size: cover;
    text-align: center;
}

.hero h1, h4{
    color: var(--white);
    font-weight: normal;    
    padding: 5px;
}

.hero .btns{
    display: flex;
    margin: 15px;
}

/* buttons */

.btn{
    padding: 4px 15px;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: 0 5px;
    text-align: center;
		font-size: 16px;
}

.primary-btn {
    color: var(--white);
    background: var(--main);
    border: 2px solid var(--main);
}

.primary-btn:hover{
    background: var(--maindark); 
    border-color:var(--maindark); 
}

.secondary-btn {
    color: var(--main);
    background: var(--white);
    border: 2px solid var(--main);
	padding: 6px 15px;
}

.secondary-btn:hover{
	background: var(--opaque);
}

.tertiary-btn {
    color: var(--white);
    background: var(--opaque);
    border: 2px solid var(--white);
}

.tertiary-btn:hover {
	background: var(--shadow-color);
}

.btn:focus {
    box-shadow: 0px 0px 4px var(--maindark);
    outline: transparent;
}

a{
    text-decoration: none;
}

hr{
	height: 5px;
	width: 80%;
	border: none;
	border-radius: 5em;
	box-shadow: inset 0 5px 12px -5px var(--shadow-color);
}

/* wcards */

.card-area{
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-card{
    width: 500px;
    height:  200px;
    padding: 10px;
    margin: 30px 0;
    margin-left: 20%;
	display:flex;
    background: var(--white);
    box-shadow: var(--shadow);
    position: relative;
}

.w-card:nth-child(2){
    margin-right: 40%;
}

.w-card img{
	height: 100%;
    width: 200px;
}

.card-text h4{
    font-size: 18px;
    padding-left: 10px;
    color: var(--main);
		margin-bottom: 5px;
}

.card-text p{
	height: 130px;
	padding-left: 10px;
	margin-bottom: 10px;
	overflow: hidden;
    font-size: 15px;
}

.card-text .btns{
	position: absolute;
	bottom: 15px;
    padding-left: 5px;
}

/* About */

.about{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px
}
.about h3{
    color: var(--main);
}

/* footer */

.footer{
    width: 100%;
    height: 100%;
    background: var(--main);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    flex-wrap: wrap-reverse;
}

.footer *{
    color: var(--white);
}

.footer .fab{
    font-size: 30px;
}

.links{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
	list-style-type: none;
    margin: 10px 20px;
}

.footer h3{
    margin-bottom: 10px;
    font-size: 18px;
}

ul li{
    font-size: 16px;
    cursor: pointer;
}

.socials{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.socials i::before{
    color: var(--white);
    margin: 5px;
    cursor: pointer;
}

.copyright{
    padding-top: 20px;
}

/* dashboard */

.tags {
    display: flex;
}

.tags > li {
    margin: 0 10px;
}

/* scrollbar */

::-webkit-scrollbar {
	width: 7px;
	background: initial;
}

::-webkit-scrollbar-track {
	background: #acc7d3cc;
	border-radius: 10px;
	width: 7px;
	box-shadow: 0px 0px 3px var(--shadow-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    width: 7px;
    border-radius: 10px;
}

::selection {
	background: var(--maindark);
}

/* hamburger */

.nav > .hamburger {
    display: none;
	transition: 2s;
}

.logoLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: 50%;
	transition: 150ms ease-out;
}

.logoLink:hover {
	opacity: 0.8;
	transition: 150ms ease-out;
}

.logo {
    display: flex;
    align-items: center;
		white-space: nowrap;
		flex-direction: row;
}

.nav > .hamburger > .contents {
    display: none;
    list-style-type: none;
}

/* responsive */

@media (max-width: 600px) {
    .logo > img {
        max-height: 30px;
    }
    
    #title{
        font-size: 1em;
    }
    
    .nav > .btn {
        display: none;
    }

    .nav a{
        display: flex;
        margin-top: 10px;
    }
    
    .nav ul{
        margin: 0;
    }

    .nav > .hamburger {
        display: inline-flex;
        align-items: center;
    }

    .nav > .hamburger.hamburger-active > .contents {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /*background-color: var(--white);*/
				background-color: rgba(255, 255, 255, 0.9);
        color: black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 4;
    }

    .nav > .hamburger.hamburger-active > .contents > .close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

/* responsive cards */

@media (max-width: 700px){
    .card-area,
    .w-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
		flex-wrap: wrap;
    }
    
    .w-card{
        width: 250px;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .card-text p, h{
		height: 100%;
		padding: 10px 0 20px 0;
		overflow: visible;
    }
	
	.w-card:nth-child(2){
        margin-right: 0;
	}
	
	.w-card img{
        width: 100%;
        height: 100%;
    }
    
	.card-text .btns{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .card-text .btn{
        width: 150px;
        margin-bottom: 5px;
    }
}

